.title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    background-color: rgb(179, 221, 255);
    border: black solid;
    border-width: 6px;
    border-radius: 50px;
    padding: 2vw;
}

.title{
    background-color:blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 0 5vh 0;
}