.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: khaki;
    border: solid;
    border-radius: 50px;
    border-width: 10px;
    border-color: black;
    box-shadow: 72px -30px #BCFFF8;
    margin-top: 5vh;
    margin-left: 3vw;
    margin-right: 10vw;
    padding-top: 3vh;
}