@font-face{
  font-family: main-font;
  src:url(./resources/Alcubierre.otf)
}

body{
  font-family: main-font;
  background-color: #FFE0F5 ;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
